<div class="container">
    <div class="footer">
        <hr style="margin: 30px 0 10px 0;">
        <p>©&nbsp;<a href="#">Author</a> 2014</p>
    </div>
</div>
<link rel="stylesheet" href="/css/style.css">
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/hdcscript.js"></script>