<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <hr style="margin: 30px 0 10px 0;">
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <p> Room : {{room}} </p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="footer">
                <hr style="margin: 30px 0 10px 0;">
                <p>©&nbsp;<a href="#">Author HDC-DEV1.0</a> 2014</p>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/css/style.css">
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/hdcscript.js"></script>