<head>
    <meta charset="utf-8">
    <meta name="description" content="Le premier template boostrap pour le framework OTF, produit par huile de code">
    <meta name="keywords" content="OTF, template, bootstrap, HdC, Huile de code">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>OTF bootstrap template HdC</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 60px;
        }
    </style>
    <!-- webSocket via socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <!--if lt IE 9-->
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <!-- HDC JS -->
    <script src="/javascripts/cnx_socket.js"></script>
    <script src="/javascripts/user_socket.js"></script>
    <!-- Page-Level Plugin Scripts - Tables -->
    <script src="javascripts/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="javascripts/js/plugins/dataTables/dataTables.bootstrap.js"></script>

</head>