<div class="page-container">
<div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" data-toggle="offcanvas" data-target=".sidebar-nav" class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/index" class="navbar-brand">OTF Framework</a>
    </div>
    {{#compare state 'connected' operator="=="}}
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href='/index'>Home</a></li>
                {{#compare state 'connected' operator="=="}}
                    <li><a href="/users">Users</a></li>
                    <li><a href="/logs">Logs</a></li>
                    <li><a href="/formadduser">Add user</a></li>
                    <li><a href="/multipart">Upload file</a></li>
                    <li><a href="/logout">Logout</a></li>
                {{/compare}}

            </ul>

            <form class="navbar-form navbar-left" role="search" method="POST" action="/user">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search user" name="login">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>

            <!--ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul-->
        </div>
    </div>
    {{/compare}}
</div>