{{> header }}
    <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left"><!--sidebar-->
            <div id="sidebar" role="navigation" class="col-xs-6 col-sm-3 sidebar-offcanvas">
                <div data-spy="affix" data-offset-top="45" data-offset-bottom="90" class="affix">
                    <ul id="sidebar-nav" class="nav">
                        <li><a href="/index">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>