<div class="page-container">
    <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" data-toggle="offcanvas" data-target=".sidebar-nav" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">OTF Framework </a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left"><!--sidebar-->
            <div id="sidebar" role="navigation" class="col-xs-6 col-sm-3 sidebar-offcanvas">
                <div data-spy="affix" data-offset-top="45" data-offset-bottom="90" class="affix">
                    <ul id="sidebar-nav" class="nav">
                        <li><a href="/index">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>