<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-static-top">
<div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a href="/index" class="navbar-brand">OTF Framework</a>
	</div><!--/.navbar-header -->
{{#compare state 'connected' operator="=="}}
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
            <li><a href='/index'>Home</a></li>
            {{#compare state 'connected' operator="=="}}
                <li><a href="/users">Users</a></li>
                <li><a href="/logs">Logs</a></li>
                <li><a href="/formadduser">Add user</a></li>
                <li><a href="/multipart">Upload file</a></li>
                <li><a href="/glances">Monit'OTF</a></li>
                <li><a href="/logout">Logout</a></li>
            {{/compare}}
			<form class="navbar-form navbar-left" role="search" method="POST" action="/user">
			<div class="form-group">
			<input type="text" class="form-control" placeholder="Search" name="login">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
			</form>
        </ul>
        
	</div><!--/.navbar-header -->
    {{/compare}}
</div><!--/.container-fluid-->
</nav><!--/Navigation -->
