{{> menu}}
<div class="container">
    <h3>{{title}}</h3>

    <p></p>

    <p> STATUS CODE :{{status}}</p>

    <p></p>

    <p> ERROR MESSAGE :{{message}}</p>

    <p></p>
    <a href="/logout">Déconnexion</a>

    <div class="col-xs-6 col-sm-4">
        <p><a href='/index'>Retour Acccueil </a></p>
        <a href="/logout">Déconnexion</a>
    </div>
</div>