extends layout
append head
    script(src='/javascripts/cnx_socket.js')
    script(src='/javascripts/user_socket.js')
append content
  h3= title
  form(method="POST", action="/adduser")
    p Entrez le login de l'utilisateur :
    input(type="text", name="login")
    p Entrez le password de l'utilisateur :
    input(type="text", name="password")
    p
    input(type="submit" value="Enreistrer")
  p
  a(href='javascript:history.go(-1)') Retour Acccueil
