{{> menu}}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-xs-12 col-sm-12">
            <h3>AddUser</h3>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-xs-12 col-sm-12">
            <form method="POST" action="/adduser">
                <p>Entrez le login de l'utilisateur : <input type="text" name="login"></p>

                <p>Entrez le password de l'utilisateur : <input type="password" name="password"></p>

                <p><input type="submit" value="Enregistrer"/>
            </form>
        </div>
        <div class="row-fluid">
            <div class="col-xs-6 col-sm-4">
                <p> Room : {{room}} </p>
                <p><a href='/index'>Retour Acccueil </a></p>

                <p><a href="/logout">Déconnexion</a></p>
            </div>
        </div>

    </div>
</div>