{{> menu}}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>{{title}}</h3>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
            <a href="/users">Liste des utilisateurs</a>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
            <a href="/formadduser">Ajouter un utilisateur</a>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
            <form method="POST" action="/user">
                <p>Entrez le login pour afficher un utilisateur <input type="text" name="login"></p>
                <input type="submit" value="Chercher">
            </form>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a href="/logout">Déconnexion</a>
        </div>
    </div>
</div>
