{{> menu}}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>{{title}}</h3>
            <h5> {{#compare state 'connected' operator="=="}}
                <p class="text-success">CONNECTED</p>

                <p class="text-success">"Bienvenu {{user}}, {{message}}</p>
            {{/compare}}
                {{#compare state 'not_connected' operator="=="}}
                    <p class="text-danger">NOT CONNECTED</p>
                {{/compare}}
            </h5>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p><a href="/users">Liste des utilisateurs</a></p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p><a href="/formadduser">Ajouter un utilisateur</a></p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p><a href="/multipart">Uploader un fichier</a></p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form class="form-horizontal" role="form" method="POST" action="/user">


                <div class="form-group">
                    <div class="col-xs-12 col-sm-8 col-md-4 col-lg-2">
                        <label for="searchUser">Afficher un utilisateur</label>
                        <input type="text" class="form-control" placeholder="Identifiant" id="login"
                               name="login">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 col-sm-8 col-md-4 col-lg-2">
                        <button type="submit" class="btn btn-primary">Rechercher</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
