extends layout

append head
    script(src='/javascripts/cnx_socket.js')
    script(src='/javascripts/user_socket.js')
append content
    h3= title
    a(href='/users') Liste des utilisateurs
    a(href='/formadduser') Ajouter un utilisateur
    form(method="POST", action="/user")
        p Entrez le login pour afficher un utilisateur :
        input(type="text", name="login")
        p
        input(type="submit" value="Chercher")
    p
    a(href='/logout') Déconnexion