{{#content "head"}}
    {{> head}}
{{/content}}
{{#content "nav"}}
    {{> nav}}
{{/content}}
{{#content "page"}}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Gestion des utilisateurs
            </h1>
            <ol class="breadcrumb">
                <li><a href="/index"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#">Users Management</a></li>
                <li class="active">List</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-warning">
                        <div class="box-header">
                            <h3 class="box-title">Liste des utilisateurs OTF Démo</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            {{renderComponent 'dataTable'
                                              urlJson="/usersjson"
                                              nbLines="10"
                                              isEditBtn=true
                                              urlEditBtn="/fiche_user"
                                              idEditBtn="_id"
                                              isDelBtn=true
                                              urlDelBtn="/deleteuser"
                                              idDelBtn="_id"
                                              values='["nom", "prenom", "login", "password", "role.code", "role.libelle", "telephone", "email"]'
                            }}
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

{{/content}}
{{#content "footer"}}
    {{> footer}}
{{/content}}