{{#content "head"}}
    {{> head}}
{{/content}}
{{#content "nav"}}
    {{> nav}}
{{/content}}
{{#content "page"}}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Gestion des logs
            </h1>
            <ol class="breadcrumb">
                <li><a href="/index"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#">Logs Management</a></li>
                <li class="active">List</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-warning">
                        <div class="box-header">
                            <h3 class="box-title">Liste des logs OTF Démo</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            {{renderComponent 'dataTable'
                                              urlJson="/logsjson"
                                              nbLines="10"
                                              isEditBtn=false
                                              urlEditBtn="/"
                                              idEditBtn="_id"
                                              isDelBtn=false
                                              urlDelBtn="/"
                                              idDelBtn="_id"
                                              values='["date", "event", "message", "ip", "session"]'
                            }}
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
{{/content}}
{{#content "footer"}}
    {{> footer}}
{{/content}}