{{> header }}
<div class="container">
    <div class="col-xs-12 col-sm-12">
        <h3>OTF with Express Passport Authentification</h3>

        <p></p>

        <form method="POST" action="/signupAccount">
            <p>Name <input type="text" name="login"></p>

            <p>Login <input type="password" name="password"></p>

            <p><input type="submit"></p>
        </form>

    </div>
</div>