{{#content "head"}}
    {{> head}}
{{/content}}
{{#content "page"}}
{{> flash_message}}
<div class="login-box">
      <div class="login-logo">
        <a href="#"><b>On The Fly</b><br/><small>...Framework</small></a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Veuillez vous identifier</p>
        <form method="POST" accept-charset="utf-8" action="/signupAccount">
          {{#compare flag 'login' operator="=="}}
              <p class="text-danger"> Login Failed</p>
          {{/compare}}
          <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Identifiant" id="login" name="login">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Mot de passe" id="password" name="password">
            {{#compare flag 'password' operator="=="}}
                <p class="text-danger">Password Failed</p>
            {{/compare}}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-8">
            </div><!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Connexion</button>
            </div><!-- /.col -->
          </div>
        </form>
          <h4 class="center">{{message}} : {{state}}</h4>
        <a href="/demander_password">J'ai oublié mes identifiants</a><br>
      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>

{{/content}}
