{{#content "head"}}
    {{> head}}
{{/content}}
{{#content "nav"}}
    {{> nav}}
{{/content}}
{{#content "page"}}
	<!-- Page Content -->
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h3>List Logs + List Accounts</h3>
        </div>
    </div>
    <button id="suppr" type="button" class="btn btn-primary btn-lg btn-block">Delete Row</button>
    <!-- Javascript d'initialisation d'un datatable jquery bootstrapisé -->
    <script>
        //<![CDATA[
        $(document).ready(function() {
            setDataTable({{{json result.Accounts}}}, "monitor2", "/updateuser", "/deleteuser");
            setDataTable({{{json result.Logs}}}, "monitor1", "/updatelogs", "/deletelogs");
        });
        //]]>
    </script>

    <div class="row">
        <div class="col-lg-12">
            <div id="monitor1" class="panel panel-default"></div>
        </div><!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="monitor2" class="panel panel-default"></div>
        </div><!-- /.col-lg-12 -->
    </div>
</div>
{{/content}}
{{#content "footer"}}
    {{> footer}}
{{/content}}
