{{#content "head"}}
    {{> head}}
{{/content}}
{{#content "nav"}}
    {{> nav}}
{{/content}}
{{#content "page"}}
	<!-- Page Content -->
	<div class="container-fluid">
		<div class="row-fluid">
		    <div class="col-xs-12 col-sm-12 col-md-12">
		        <h3>List Users</h3>
			</div>
    	</div>
    <button id="suppr" type="button" class="btn btn-primary btn-lg btn-block">Delete Row</button>
    <!-- Javascript d'initialisation d'un datatable jquery bootstrapisé -->
    <script>
        //<![CDATA[
        $(document).ready(function() {
            setDataTable({{{json result}}}, "monitor", "/updateuser", "/deleteuser");
        });
        //]]>
    </script>
    <div class="row-fluid">
        <div class="col-lg-12">
            <div id="monitor" class="panel panel-default"></div>
        </div><!-- /.col-lg-12 -->
    </div>
	</div><!-- /Page Content -->
{{/content}}
{{#content "footer"}}
    {{> footer}}
{{/content}}
